@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    background-color: rgb(237, 237, 180);
}

nav{
    width: 100%;
    /*height: 12vh;*/
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #779ABD;
    border-bottom: 5px dashed black;
    /*box-shadow: 5px 5px #475c70;*/
    box-shadow: 5px 5px rgb(202, 202, 154);
}

.button{
    background-color: #4b435c;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    box-shadow: 10px 10px #475c70;
}

.button:hover{
    background-color: #2f2a3a;
}

ul{
    margin: 0;
}

.nav_link{
    font-family: 'Press Start 2P',  sans-serif;
    color: rgb(237, 237, 180);
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    text-shadow: 5px 0px #4e376c;
}

.active_link{
    font-family: 'Press Start 2P',  sans-serif;
    color: rgb(237, 237, 180);
    text-decoration: underline;
    font-size: 30px;
    padding: 15px;
    text-shadow: 5px 0px #4e376c;
}

.absolute_div{
    position: absolute;
}

.centre_retro_text{
    font-family: 'Press Start 2P',  sans-serif;
    font-size: 20px;
    color: rgb(237, 237, 180);
    text-shadow: 5px 0px #4e376c;
    text-align: center;
}

.featured_gif{
    margin: auto;
    display: inline-block;
    position: relative;
    max-width: 500px;
    box-shadow: 10px 10px #475c70;
    vertical-align: middle;
    box-sizing: border-box;
}

.centre_retro_heading{
    font-family: 'Press Start 2P',  sans-serif;
    font-size: 30px;
    color: rgb(237, 237, 180);
    text-shadow: 5px 0px #4e376c;
    align-content: center;
    display: block;
    box-sizing: border-box;
}

ul, a:hover{
    color: rgba(237, 237, 180, 0.8)
}

.nav_icon{
    height: 40px;
    padding: 20px;
}

.walking-gif{
    /*margin: 10%;
    margin-left: 25%;*/
    /*height: 85vh;*/
    width:100%;
    position: unset;
}

.game_title{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.profile_pic{
    border-radius: 50%;
    border: dashed 5px black;
    box-shadow: 10px 10px #475c70
}

.centre_box_30width{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 30%;
    background-color: #779ABD;
    padding: 25px;
    border: black;
    border-width: 5px;
    border-style: dashed;
    /*box-shadow: 20px 20px #475c70;*/
    box-shadow: 20px 20px rgb(202, 202, 154);
    text-align: center;
}

.centre_box_50width{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #779ABD;
    padding: 25px;
    border: black;
    border-width: 5px;
    border-style: dashed;
    /*box-shadow: 20px 20px #475c70;*/
    box-shadow: 20px 20px rgb(202, 202, 154);
}