@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    background-color: rgb(237, 237, 180);
}

nav{
    width: 100%;
    /*height: 12vh;*/
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #779ABD;
    border-bottom: 3px dashed black;
    /*box-shadow: 5px 5px #475c70;*/
    box-shadow: 5px 5px rgba(0,0,0,0.6);
}

.button{
    /*background-color: #4b435c;*/
    background-color: rgb(204, 138, 174);
    border: none;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    box-shadow: 10px 10px rgba(0,0,0,0.6);
}

.button:hover{
    background-color: rgb(189, 129, 162);
}

ul{
    margin: 0;
}

.nav_link{
    font-family: 'Press Start 2P',  sans-serif;
    color: rgb(237, 237, 180);
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    text-shadow: 5px 5px rgba(0,0,0,0.6);;
}

.active_link{
    font-family: 'Press Start 2P',  sans-serif;
    color: rgb(237, 237, 180);
    text-decoration: underline;
    font-size: 30px;
    padding: 15px;
    text-shadow: 5px 5px rgba(0,0,0,0.6);
}

.absolute_div{
    position: absolute;
}

.centre_retro_text{
    font-family: 'Press Start 2P',  sans-serif;
    font-size: 20px;
    color: rgb(237, 237, 180);
    text-shadow: 5px 5px rgba(0,0,0,0.6);
    text-align: center;
}

.button_text{
    font-family: 'Press Start 2P',  sans-serif;
    font-size: 20px;
    color: rgb(237, 237, 180);
    text-shadow: 5px 5px rgba(0,0,0,0.6);
    text-align: center;
}

.featured_gif{
    margin: auto;
    display: inline-block;
    position: relative;
    max-width: 500px;
    box-shadow: 10px 10px rgba(0,0,0,0.6);
    vertical-align: middle;
    box-sizing: border-box;
}

.centre_retro_heading{
    font-family: 'Press Start 2P',  sans-serif;
    font-size: 30px;
    color: rgb(237, 237, 180);
    text-shadow: 5px 5px rgba(0,0,0,0.6);
    align-content: center;
    display: block;
    box-sizing: border-box;
}

.nav_link:hover{
    color: rgba(237, 237, 180, 0.8)
}

.nav_icon{
    height: 40px;
    padding: 20px;
}

.walking-gif{
    /*margin: 10%;
    margin-left: 25%;*/
    /*height: 85vh;*/
    width:100%;
    position: unset;
}

.game_title{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.profile_pic{
    border-radius: 50%;
    border: dashed 3px black;
    box-shadow: 10px 10px rgba(0,0,0,0.6);
}

.centre_box_30width{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 30%;
    background-color: #779ABD;
    padding: 25px;
    border: black;
    border-width: 3px;
    border-style: dashed;
    /*box-shadow: 20px 20px #475c70;*/
    box-shadow: 20px 20px rgba(0,0,0,0.6);
    text-align: center;
}

.centre_box_50width{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #779ABD;
    padding: 25px;
    border: 3px dashed black;
    /*box-shadow: 20px 20px #475c70;*/
    box-shadow: 20px 20px rgba(0,0,0,0.6);
}

.art_row{
    width: 90%;
    padding: 10px;
    align-content: center;
    justify-content: center;
    margin: 100px auto;
    display: table;
}

.art_item{
    width: 300px;
    height: 300px;
    background-color: #779ABD;
    margin: 0px 30px;
    transition: 1s;
    box-shadow: 20px 20px rgba(0,0,0,0.6);
    border: 2px dashed black;
    padding: 5px;
    display: inline-block;
}

.art_item:hover{
    transform: scale(1.3);
}

.art_piece{
    max-width: 290px;
    max-height: 290px;
}